pr5_v2_client/xml-resources/web-service-references/newWSDLService/wsdl/localhost_8080/p5_v2_ws/newWSDLService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/newXmlSchema" targetNamespace="http://xml.netbeans.org/schema/newXmlSchema" elementFormDefault="qualified">
    <xsd:simpleType name="DruhPoisteniaEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Cestovne"/>
            <xsd:enumeration value="Zivotne"/>
            <xsd:enumeration value="Urazove"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Osoba">
        <xsd:sequence>
            <xsd:element name="meno" type="xsd:string"/>
            <xsd:element name="priezvisko" type="xsd:string"/>
            <xsd:element name="datumNar" type="xsd:date"/>
            <xsd:element name="id" type="xsd:ID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Navrh">
        <xsd:sequence>
            <xsd:element name="druh" type="tns:DruhPoisteniaEnum"/>
            <xsd:element name="cislo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="uzavreta" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Zmluva">
        <xsd:complexContent>
            <xsd:restriction xmlns:tns="http://xml.netbeans.org/schema/newXmlSchema" base="tns:Navrh">
                <xsd:sequence>
                    <xsd:element name="druh" type="tns:DruhPoisteniaEnum"/>
                        <xsd:element name="cislo" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="uzavreta" type="xsd:dateTime" minOccurs="1"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="navrh-out" type="tns:Zmluva"/>
    <xsd:element name="navrh-in" type="tns:Navrh"/>
</xsd:schema>