pr4_v2_xml/src/newWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="newWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/pr4_v2_xml/src/newWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/pr4_v2_xml/src/newWSDL" xmlns:ns="http://xml.netbeans.org/schema/newXmlSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/pr4_v2_xml/src/newWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/newXmlSchema" schemaLocation="newXmlSchema.xsd"/>
        </xsd:schema>
    </types>
    
    <message name="navrhZmluvyRequest">
        <part name="part1" element="ns:navrh-in"/>
    </message>
    <message name="navrhZmluvyResponse">
        <part name="part1" element="ns:navrh-out"/>
    </message>
    <message name="navrhZmluvyFault">
        <part name="part1" element="ns:navrh-fail"/>
    </message>
    
    <message name="getOsobaRequest">
        <part name="part1" element="ns:get-in"/>
    </message>
    
    
    <portType name="newWSDLPortType">
        
        <operation name="navrhZmluvy">
            <input name="input1" message="tns:navrhZmluvyRequest"/>
            <output name="output1" message="tns:navrhZmluvyResponse"/>
            <fault name="fault1" message="tns:navrhZmluvyFault"/>
        </operation>
        
        <operation name="getOsoba">
            <input name="input1" message="tns:getOsobaRequest"/>
        </operation>
        
      
    </portType>
    <binding name="newWSDLBinding" type="tns:newWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="navrhZmluvy">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
        
         <operation name="getOsoba">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
        
    </binding>
    <service name="newWSDLService">
        <port name="newWSDLPort" binding="tns:newWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/newWSDLService/newWSDLPort"/>
        </port>
    </service>
</definitions>
