cv4_u3_client/xml-resources/web-service-references/ZmluvyService/wsdl/localhost_8080/cv4_u3/ZmluvyService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="navrhZmluvy" type="tns:navrhZmluvy"/>

<xs:element name="navrhZmluvyResponse" type="tns:navrhZmluvyResponse"/>

<xs:complexType name="navrhZmluvy">
<xs:sequence>
<xs:element name="navrh" type="tns:zmluva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zmluva">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="majitel" type="tns:osoba" minOccurs="0"/>
<xs:element name="poistenec" type="tns:osoba" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="osoba">
<xs:sequence>
<xs:element name="datumNar" type="xs:dateTime" minOccurs="0"/>
<xs:element name="meno" type="xs:string" minOccurs="0"/>
<xs:element name="priezvisko" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="navrhZmluvyResponse">
<xs:sequence>
<xs:element name="return" type="tns:zmluva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>