cv4_u2_ws/src/conf/xml-resources/web-services/JedalenService/wsdl/newWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="newWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/u1_xml_contract/src/newWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/u1_xml_contract/src/newWSDL" xmlns:ns="http://xml.netbeans.org/schema/newXmlSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/u1_xml_contract/src/newWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/newXmlSchema" schemaLocation="newXmlSchema.xsd"/>
        </xsd:schema>
    </types>
    
    <message name="getMenuRequest">
        <part name="part1" element="ns:getMenu-in"/>
    </message>
    <message name="getMenuResponse">
        <part name="part1" element="ns:getMenu-out"/>
    </message>
    
    <message name="addJedloRequest">
        <part name="part1" element="ns:addJedlo"/>
    </message>
    
    <portType name="newWSDLPortType">
        <operation name="getMenu">
            <input name="input1" message="tns:getMenuRequest"/>
            <output name="output1" message="tns:getMenuResponse"/>
        </operation>
        
        <operation name="addJedlo">
            <input name="input1" message="tns:addJedloRequest"/>
        </operation>
        
    </portType>
    <binding name="newWSDLBinding" type="tns:newWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getMenu">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        
          <operation name="addJedlo">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
       </operation>
        
    </binding>
    <service name="newWSDLService">
        <port name="newWSDLPort" binding="tns:newWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/newWSDLService/newWSDLPort"/>
        </port>
    </service>
</definitions>
